# Node.js
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
data_store.json

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ios/Pods/
.symlinks/
*.iml
.idea/
.vscode/

# Ignore nested app build files
apps/**/build/
apps/**/.dart_tool/
apps/**/.packages
apps/**/.flutter-plugins
apps/**/.flutter-plugins-dependencies

# OS generated
.DS_Store
Thumbs.db

# Releases
releases/
*.apk
