<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179714173901-rtl15mlsim82cebtjs2cisb13tqarktt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179714173901-rtl15mlsim82cebtjs2cisb13tqarktt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>179714173901-v7mekhsosihjo7d9lqd0ssqrsil7n7so.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAiQJAN-p9Ywx-XQ9TuE1AEDCcry1v52NQ</string>
	<key>GCM_SENDER_ID</key>
	<string>179714173901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ng.giga.passengerApp</string>
	<key>PROJECT_ID</key>
	<string>giga-7324f</string>
	<key>STORAGE_BUCKET</key>
	<string>giga-7324f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179714173901:ios:121cf12254e94690783284</string>
</dict>
</plist>